<html>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    
    <style>
      .card-body{ height: 120px; 

      }
    </style>
    
<div *ngFor="let repo of repos" class="card">
  <div class="card-body">
    <p>Name:{{repo.full_name}}</p>
    <a href="{{repo.html_url}}">url:{{repo.html_url}}</a>
    <button (click)="detailsEvent(repo.full_name)" class="btn btn-primary">Details</button>
    <button (click)="deleteEvent(repo.full_name)" class="btn btn-outline-danger">
      Delete
    </button>
    
    
  </div>
</div>





<div class="w3-container">
   
  
    <button onclick="document.getElementById('id01').style.display='block'" class="w3-button w3-blue">Create new Repository</button>
  
    <div id="id01" class="w3-modal w3-animate-opacity">
      <div class="w3-modal-content w3-card-4">
          <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">New Repository</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                  <span aria-hidden="true">&times;</span>
                </button>
              </div>
              <div class="modal-body">
                <form #repoRegForm="ngForm" (ngSubmit)="repoRegForm.form.valid && newRepo(repoRegForm.value)" novalidate>
                  <div class="form-group">
                    <input type="text" class="form-control" placeholder="Name" name="name" [(ngModel)]="name"
                      #reponame="ngModel" [ngClass]="{
                        'is-invalid': repoRegForm.submitted && reponame.invalid
                      }" required />
                    <div *ngIf="repoRegForm.submitted && reponame.invalid" class="invalid-feedback">
                      <div *ngIf="reponame.errors.required" class="alert-danger">
                        Name is required
                      </div>
                    </div>
                  </div>
        
                  <div class="form-group">
                    <input type="text" class="form-control" id="homepage" placeholder="Homepage" name="homepage"
                      [(ngModel)]="homepage" #home="ngModel"/>
                  </div>
                  <div class="form-group">
                    <textarea type="text" class="form-control" id="description" placeholder="Description" name="description"
                      [(ngModel)]="description" #desc="ngModel"></textarea>
                  </div>
                  <button type="submit" class="btn btn-primary align-center" id="submit">
                    Submit
                  </button>
                </form>
              </div>
            </div>
      </div>
    </div>
  </div>

</html>